<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML //EN">
<html lang="en">
<head>
    <title>Camera {{number}}</title>
</head>
<body>
    <h1>Camera {{number}}</h1>
    <video width="400" height="400" controls>
    	<source src="http://localhost:5000" type='video/webm; codecs="vp8.0, vorbis"' >
    	
    	Your browser is outdated.
    </video>
    <br />
    <form method = "LINK" ACTION = "/cam1/">
    	<input type = "BUTTON" value = "END">
    </form>

	<br />
    <hr>
    
</body>
</html>