<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML //EN">
<html lang="en">
<head>
    <title>Monitoring System</title>
</head>
<body>
    <h1>Monitoring & Surveillance System</h1>
    
    
    	<ui>
    	<li><a href="/init/">INIT</a></li>
		<li><a href="/cam1/">Camera 1</a></li>
		<li><a href="/cam2/">Camera 2</a></li>
	</ui>
	<p>
		FIRST DO INIT
		<br>
		CAM2 DOESNT WORK. THOUGH SAME AS CAM1
		<br>
		PUT VIDEO TEST SRC INSTEAD OF CAMERA FOR NOW(PERSONAL REASONS COZ IM SLEEPING!)
</p>
	<br />
    <hr>
    
</body>
</html>